* {
  box-sizing: border-box;
  &::selection {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

body {
  background-color: $primary-color;
  color: $white;
  font-family: $primary-font;
  font-size: $font-size-base;
  &.overflow-hidden {
    overflow: hidden;
  }
}

a {
  color: inherit;
}

.container {
  width: 100%;
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}