// Container widths
$container-width: 1270px;

// Colors
$primary-color:     #222222;
$secondary-color:   #FF6931;
$tertiary-color:    #636363;
$white:				#ffffff;
$black:				#000000;

// Font Families
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Unbounded';

// Font Sizes
$font-size-xsmall:	12px;
$font-size-small:	14px;
$font-size-base:	16px;
$font-size-large:	18px;
$font-size-xlarge:	20px;

// Heading sizes
$font-size-h1: 50px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 15px;

// Breakpoints
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$ipd: 1024px;
$md: 991px;
$sm: 767px;
$mb: 480px;
$ip: 420px;
$xs: 350px;